<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://planting-guide.documents.azure.com:443/" />
    <add key="PrimaryKey" value="8AwRiVhTcBHnwB1XSifJ5sw5rsgV7PVUb5YE3QN6mduhKwCeleFCoQB7ZTGrc7ZjGj1m8XRFYUWuoQ4gzcFoFQ==" />
  </appSettings>
</configuration>